<footer class="w-100 d-md-flex d-block justify-content-center align-items-center">
    <div class="col-12 w-100 footerwrapper p-0 row m-0">
      <div class="col-md-6 col-12 h-100 d-flex justify-content-md-end justify-content-center align-items-center footlink">
        <span></span>
        <ul class="footermenu p-0">
          <li class="p-3 mr-5 text-right" ng-click="scrollInto('onama')">ABOUT US</li>
          <li class="p-3 mr-5 text-right" ng-click="scrollInto('projekti')">PROJECTS</li>
          <li class="p-3 mr-5 text-right" ng-click="scrollInto('templates')">TEMPLATES</li>
          <li class="p-3 mr-5 text-right" ng-click="scrollInto('servisi')">SERVICES</li>
          <li class="p-3 mr-5 text-right" ng-click="scrollInto('kontakt')">CONTACT US</li>
        </ul>
      </div>

      <!-- <div class="col-4 h-100 d-block">
        
      </div> -->
      
      <div class="col-md-6 col-12 h-100 d-flex justify-content-md-start justify-content-center align-items-center kontaktholder bg-white">
        <div class="d-block">
          <div class="kontaktinfo p-3 m-1 d-flex align-items-center"><i class="fas fa-envelope fa-2x text-right"></i>	&nbsp; <b>:</b> 	&nbsp; &nbsp; <span class="p-2">info@devechron.com</span> </div>
          <div class="kontaktinfo p-3 m-1 d-flex align-items-center"><i class="fas fa-map-marker fa-2x text-right"></i>	&nbsp; <b>:</b>	&nbsp; &nbsp; <span class="p-2">Novi Sad, Serbia</span></div>
          <div class="kontaktinfo p-3 m-1 d-flex align-items-center"><i class="fas fa-sms fa-2x text-right"></i>	&nbsp; <b>:</b>	&nbsp; &nbsp; <span class="p-2">+387 66 011-468</span></div>
          <div class="kontaktinfo p-3 m-1 d-flex align-items-center"><i class="fas fa-mobile fa-2x text-right"></i>	&nbsp; <b>:</b>	&nbsp; &nbsp; <span class="p-2">+381 63 8171-366</span></div>
        </div>
      </div>
      <div class="col-12 position-absolute w-100 h-100 d-flex align-items-lg-start align-items-center justify-content-center">
        <a class="dogore" ng-click="scrollToTop();"><i class="fas fa-arrow-circle-up fa-5x contrastedFont"></i></a>
      </div>
    </div>
</footer>