<header id="glavniMeni">
    <div class="languagewrapper d-md-block d-flex">
        <div class="d-flex jezik justify-content-center align-items-center p-2 m-lg-2 m-1"><a href="/" class="text-white">SR</a></div>
        <div class="d-flex jezik justify-content-center align-items-center p-2 m-lg-2 m-1"><a href="/en" class="text-white">EN</a></div>
    </div>
    <div class="logo">
      <div class="pozdrav d-block text-right">
        <h4>WELCOME</h4>
        <p>We are here to help realize the ideas of everyone who is in the process of taking the first steps towards the business world, be it small, medium or large companies and even individuals who are in the process of realizing their business plan. We are here to present your business/idea/services to the whole world.</p>
        <small>Do you want a platform for your company to work, a website for presenting your services or news? Contact us, present us an idea and let us realize it in the short term.</small><br/>
        <button class="contactbtn"  ng-click="scrollInto('kontakt')">Contact us</button>
      </div>
    </div>
    <nav class="navbar navbar-expand-xl navbar-light bg-white">
        <div class="mx-auto d-lg-flex d-block flex-lg-nowrap max-width row row-eq-height">
            <div class="d-flex align-items center justify-content-between px-5">
              <div class="nav-item navbar--logo2"></div>
              <button class="navbar-toggler" type="button" aria-expanded="false" aria-label="Toggle navigation" ng-click="podmeni=!podmeni">
                  <span class="navbar-toggler-icon"></span>
              </button>
            </div>
            <div class="navbar-collapse text-center bg-white" id="glavni" ng-class="podmeni ? '':'collapse'">
                <ul class="navbar-nav">
                    <li class="nav-item mx-2 p-lg-3 p-2 text-center">HOME</li>
                    <li class="nav-item mx-2 p-lg-3 p-2 text-center" ng-click="scrollInto('onama');podmeni=!podmeni">ABOUT US </li>
                    <li class="nav-item mx-2 p-lg-3 p-2 text-center" ng-click="scrollInto('projekti');podmeni=!podmeni">PROJECTS</li>
                </ul>
                <div class="nav-item navbar--logo"></div>
                <ul class="navbar-nav">
                    <li class="nav-item mx-2 p-lg-3 p-2 text-center" ng-click="scrollInto('templates');podmeni=!podmeni">TEMPLTES</li>
                    <li class="nav-item mx-2 p-lg-3 p-2 text-center" ng-click="scrollInto('servisi');podmeni=!podmeni">SERVICES</li>
                    <li class="nav-item mx-2 p-lg-3 p-2 text-center" ng-click="scrollInto('kontakt');podmeni=!podmeni">CONTACT US</li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- <div class="navbar d-flex justify-content-center align-items-center w-100 m-0 p-0 bg-white">
      <ul class="d-flex justify-content-center align-items-center">
        <li class="mx-2 p-3 text-center">HOME</li>
        <li class="mx-2 p-3 text-center" ng-click="scrollInto('onama')">O NAMA </li>
        <li class="mx-2 p-3 text-center" ng-click="scrollInto('projekti')">PROJEKTI</li>
      </ul>
      <div class="navbar--logo">
        
      </div>
      <ul class="d-flex justify-content-center align-items-center">
        <li class="mx-2 p-3 text-center" ng-click="scrollInto('templates')">ŠABLONI</li>
        <li class="mx-2 p-3 text-center" ng-click="scrollInto('servisi')">SERVISI</li>
        <li class="mx-2 p-3 text-center" ng-click="scrollInto('kontakt')">KONTAKT</li>
      </ul>
    </div> -->
  </header>