<section class="onama d-flex justify-content-center align-items-center flex-wrap w-100" id="onama">
    <div class="card1 d-block m-auto">
      
      <div class="d-flex align-items-end flex-wrap prvidio">
        <h4>we are...</h4>
        <p class="text-justify">
          <span class="heksagon"></span>
          <span class="heksagon"></span>
          <span class="heksagon"></span>Devechron is a creative group of people, with an office in Novi Sad (Serbia), specializing in design, programming, business improvement through transforming the presence of websites for both small, medium and large businesses and individuals who are planning and starting their own businesses.
          We give the functional Website <span>a unique look and design</span>, which is why you will be presented as a modern and reviewable business partner according to the needs of your clients. Web design is necessarily the result of a trade-off between the creativity of designers and the demand for search engine optimization.
          Our team consists of young, educated and creative experts in the field of: site development, web programming, SEO optimization and other Internet technologies. We are ready to listen to you, plan and run <span>Your web project.</span>
      </p>
      </div>
      <div class="small text-justify">
        <h4>mission...</h4>
        <p>
          Your potential clients are on the internet, there must be you, your services and products. We create engaging and interactive websites that meet <span> your business goals </span>. We develop our products with an open-source condom, which will make it easy for you to modify them.
          Our main mission is to <span> expand business ideas </span> into a larger geographical area, to give everyone the opportunity to benefit from our services. We place great emphasis on keywords that drive sales and business development. We have all the opportunities and opportunities to create new websites and promote it through various tools.
          <br><span>Your success is our result.</span>
        </p> 
      </div>
    </div>
    
    <div class="wrapper w-100 d-flex justify-content-center align-items-start" id="projekti">
      <h4 class="m-0 d-flex text-center"> <a ng-click="scrollInto('onama')">About us</a> </h4>
      <h4 class="m-0 d-flex text-center"> <a ng-click="scrollInto('projekti')">Our projects</a> </h4>
    </div>
</section>