<section class="w-100 templates d-flex flex-wrap justify-content-center align-items-center" id="templates">
  <div class="texttemplates text-justify w-75">
    <p>Our templates palette allows you to easily decide, through a clear overview of a page example, which direction your site should go. Each temple can be adapted to your specific wishes and goals in agreement with you.
             We offer page templates with a modern interface, modern effects and refreshing colors that will enliven your business, idea or project. Choose the template that is closest to you, and we will create a custom website for you in a record time.
             There is also the option of combining multiple templates, or simply requesting something completely different. After all, we are here to meet you.
      </p>
      <p>Templates allow you to see in advance what your web site will look like before you entrust us with the design of the site itself.</p>
    <small>Thanks to the easy and clean code, the template palette in front of you is completely flexible and loads quickly, while unlike other sites that are run by some other content management system.
             Designed in line with the most popular trends this year, they will be the perfect tool to showcase your business to a wider audience.</small>
  </div>
  <div class="templateholder d-flex align-items-center m-3 mt-auto">
    <div class="templatetext d-flex justify-content-center align-items-center ml-5">
      <div class="d-block w-100">
        <h2>Blog NEWSFEED</h2>
        <p>NEWSFEED template made in AngularJS, PHP and Bootstrap. Basic colors: yellow and purple combined with white background.</p>
        <button ng-click="showDemo('temp1')">LIVE view</button ng-click="showDemo('temp1')">
      </div>
    </div>
    <div class="img1a img"></div>
    <div class="img2a img"></div>
  </div>

  <div class="templateholder d-flex align-items-center m-3 mt-auto">
    <div class="templatetext d-flex justify-content-center align-items-center ml-5">
      <div class="d-block w-100">
        <h2>CAFE/CLUB TEMPLATE</h2>
        <p>CAFE / CLUB template created in AngularJS, PHP and Bootstrap. Basic colors: black and orange combined with white background.</p>
        <button ng-click="showDemo('temp2')">LIVE view</button ng-click="showDemo('temp2')">
      </div>
    </div>
    <div class="img1b img"></div>
    <div class="img2b img"></div>
  </div>

  <div class="templateholder d-flex align-items-center m-3 mb-auto">
    <div class="templatetext d-flex justify-content-center align-items-center ml-5">
      <div class="d-block w-100">
        <h2>P&B TEMPLATE</h2>
        <p>P&B template created in AngularJS, PHP and Bootstrap. Basic colors: purple and blue combined with white background.</p>
        <button ng-click="showDemo('temp3')">LIVE view</button>
      </div>
    </div>
    <div class="img1c img"></div>
    <div class="img2c img"></div>
  </div>

  <div class="templateholder d-flex align-items-center m-3 mb-auto">
    <div class="templatetext d-flex justify-content-center align-items-center ml-5">
      <div class="d-block w-100">
        <h2>CLEAN TEMPLATE</h2>
        <p>CLEAN template worked in AngularJS, PHP and Bootstrap. Basic colors: blue combined with white background.</p>
        <button>LIVE view</button>
      </div>
    </div>
    <div class="img1d img"></div>
    <div class="img2d img"></div>
  </div>
</section>