<section class="onama d-flex justify-content-center align-items-center flex-wrap w-100" id="onama">
    <div class="card1 d-block m-auto">
      
      <div class="d-flex align-items-end flex-wrap prvidio">
        <h4>mi smo...</h4>
        <p class="text-justify">
          <span class="heksagon"></span>
          <span class="heksagon"></span>
          <span class="heksagon"></span>Devechron je kreativna grupa ljudi, sa kancelarijom u Novom Sadu (Srbija), specijalizovani na dizajn, programiranje, poboljšanje poslovanja kroz transformaciju prisustva sajtova kako malih, srednjih i velikih preduzeća tako i pojedinaca koji su u planiranju i otvaranju svog preduzetništva.
          Funkcionalnom veb-sajtu dajemo <span>jedinstven izgled i dizajn,</span> zbog čega čete biti predstavljeni kao moderan, minimalističan i pregledan poslovni partner u skladu sa potrebama klijenata. Veb-dizajn je nužno rezultat kompromisa izmedju kreativnosti dizajnera i zahteva za optimizacijom internet pretraživača.
          Naš tim čini mladi, obrazovani i kreativni stručnjaci iz oblasti: izrada sajta, veb-programiranja, SEO optimizacije i drugih Internet tehnologija. Spremni smo da vas saslušamo, planiramo i vodimo <span>Vaš veb-projekat</span>.
      </p>
      </div>
      <div class="small text-justify">
        <h4>misija...</h4>
        <p>
          Vaši potencijalni klijenti su na internetu, tu morate biti i Vi, Vaše usluge i proizvodi. Kreiramo privlačne i interaktivne veb-sajtove koji ispunjavaju <span>Vaše poslovne ciljeve</span>. Realizovane produkte razvijamo sa otvorenim kondom (open-source) što će Vam olakšati njihovu modifikaciju.
          Glavna misija nam je da <span>proširimo poslovne ideje</span> na veće geografsko područje, da svima damo priliku da iskoriste naše usluge. Dajemo veliki fokus na ključne reči koje pokreću prodaju i razvoj biznisa. Posedujemo sve prilike i mogućnosti za stvaranje novih veb-stranica i njenih promocija kroz različite alate.
          <br><span>Vaš uspeh je naš rezultat.</span>
        </p> 
      </div>
    </div>
    
    <div class="wrapper w-100 d-flex justify-content-center align-items-start" id="projekti">
      <h4 class="m-0 d-flex text-center"> <a ng-click="scrollInto('onama')">O nama</a> </h4>
      <h4 class="m-0 d-flex text-center"> <a ng-click="scrollInto('projekti')">Naši projekti</a> </h4>
    </div>
</section>