<section class="w-100 templates d-flex flex-wrap justify-content-center align-items-center" id="templates">
  <div class="texttemplates text-justify w-75">
    <p>Paleta naših templejta Vam omogućava da na lak način, kroz pregledan prikaz primera stranice, odlučite u kom pravcu Vaša stranica treba da ide. Svaki templejt se u dogovoru sa Vama može naknadno prilagoditi Vašim specifičnim željama i ciljevima.
      U ponudi su šabloni stranica sa modernim interfejsom, modernim efektima i osvežavajućim bojama, koje će oživeti Vaš biznis, ideju ili projekat. Odaberite šablon koji je najbliži Vama, i mi ćemo u rekordnom roku kreirati veb prezentaciju po Vašoj meri. 
      Postoji opcija i kombinovanja više šablona, ili jednostavno da zahtevate nešto potpuno drugačije. Na kraju krajeva, mi smo tu da Vama izađemo u susret.
      </p>
      <p>Templejti Vam omogućavaju da unapred vidite kako će izgledati Vaša veb-prezentacija i prije nego nam poverite samu izradu stranice. </p>
    <small>Zahvaljujući lakom i čistom kodu, paleta šablona pred Vama su potpuno fleksibilni i brzo se učitavaju, dok se za razliku od drugih sajtova koji se pokreću od strane nekog drugog sistema za upravljanje sadržaja. 
      Projektovan u skladu sa najpopularnijim trendovima ove godine, oni će biti savršen alat za predstavljanje vaše delatnosti široj ciljnoj grupi.</small>
  </div>
  <div class="templateholder d-flex align-items-center m-3 mt-auto">
    <div class="templatetext d-flex justify-content-center align-items-center ml-5">
      <div class="d-block w-100">
        <h2>Blog NEWSFEED</h2>
        <p>NEWSFEED template radjen u AngularJS, PHP i Bootstrap. Osnovne boje: žuta i ljubičasta u kombinaciji sa bijelom pozadinom. </p>
        <button ng-click="showDemo('temp1')">LIVE view</button ng-click="showDemo('temp1')">
      </div>
    </div>
    <div class="img1a img"></div>
    <div class="img2a img"></div>
  </div>

  <div class="templateholder d-flex align-items-center m-3 mt-auto">
    <div class="templatetext d-flex justify-content-center align-items-center ml-5">
      <div class="d-block w-100">
        <h2>CAFE/CLUB TEMPLATE</h2>
        <p>CAFE/CLUB template radjen u AngularJS, PHP i Bootstrap. Osnovne boje: crna i orange u kombinaciji sa bijelom pozadinom. </p>
        <button ng-click="showDemo('temp2')">LIVE view</button ng-click="showDemo('temp2')">
      </div>
    </div>
    <div class="img1b img"></div>
    <div class="img2b img"></div>
  </div>

  <div class="templateholder d-flex align-items-center m-3 mb-auto">
    <div class="templatetext d-flex justify-content-center align-items-center ml-5">
      <div class="d-block w-100">
        <h2>P&B TEMPLATE</h2>
        <p>P&B template radjen u AngularJS, PHP i Bootstrap. Osnovne boje: ljubicasta i plava u kombinaciji sa bijelom pozadinom. </p>
        <button ng-click="showDemo('temp3')">LIVE view</button>
      </div>
    </div>
    <div class="img1c img"></div>
    <div class="img2c img"></div>
  </div>

  <div class="templateholder d-flex align-items-center m-3 mb-auto">
    <div class="templatetext d-flex justify-content-center align-items-center ml-5">
      <div class="d-block w-100">
        <h2>CLEAN TEMPLATE</h2>
        <p>CLEAN template radjen u AngularJS, PHP i Bootstrap. Osnovne boje: plava u kombinaciji sa bijelom pozadinom. </p>
        <button>LIVE view</button>
      </div>
    </div>
    <div class="img1d img"></div>
    <div class="img2d img"></div>
  </div>
</section>